<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ludoscity.findmybikes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:backupAgent=".data.database.PrefsBackupAgent"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FindMyBikesTheme">
        <activity
            android:name=".ui.main.FindMyBikesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.main.FindMyBikesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.f8full.findmybikes.oauth2redirect"
                    android:scheme="findmybikes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.webview.WebViewActivity"
            android:parentActivityName=".ui.main.FindMyBikesActivity" />

        <service
            android:name=".data.network.citybik_es.FetchCitybikDOTesDataIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />
        <service
            android:name=".data.network.twitter.PushToTwitterDataIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <service
            android:name=".data.network.cozy.CozyDataPipeIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <!-- Foreground services in Q+ require type. -->
        <service
            android:name=".data.geolocation.LocationTrackingService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:foregroundServiceType="location" />

        <service
            android:name=".data.geolocation.TransitionRecognitionIntentService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".data.geolocation.TransitionRecognitionService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="@string/google_data_backup_key" />


    </application>
</manifest>